@import "./../../components//Utils/config.scss";

.filepond--root {
    width: 200px;
    height: 200px !important;

    .filepond--panel-root {
        background-color: #d9d8d6;
    }
}


.back {
    background-color: transparent !important;
    border: none;

    .card-settings {
        background-color: transparent !important;
        border: none;
    }

    a {
        color: #FAD5A5;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #FAD5A5 !important;
            color: #000;
            transform: scale(1.05);
            border: 1px solid $textColor2;
        }
    }
}