@import "../../components/Utils/mixins";
@import "../../components/Utils/config.scss";

.team-container {
  padding: 6rem 2rem;
  height: 100vh;
  overflow: hidden;

  h1 {
    @include headings(large);
    font-family: "Gotham";
    text-align: center;
  }

  p {
    color: #252C33;
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 400;
    margin: 0;
    text-align: center;
  }


}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.swiper {
  width: 280px;

  @media (min-width: 400px) {
    width: 350px;
  }

  height: fit-content;

  .swiper-slide {
    background: #fff;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    position: relative;
    z-index: 1;

    &.swiper-slide-active {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .img {
      width: 150px;
      height: 150px;
      border: 5px solid #fdfdfd;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      background-size: cover;
    }

    background-position: center;
    background-repeat: no-repeat;
  }


  .name {
    padding-top: 100px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    margin: 0.5rem 0;
  }

  .title {
    text-align: center;
    font-size: 14px;
    color: #fa9004;
    font-weight: 400;
  }

  .desc {
    color: #6E6E6E;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 300;
  }

  .link {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }

  .actions {
    display: flex;
    justify-content: center;

    a {
      padding: 1rem;

      .actionButton {
        border: none;
        background-color: transparent;
        padding: 1rem;

        i {
          font-size: clamp(1rem, 3vw, 1.5rem);
        }

        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.4);
          cursor: pointer;

        }
      }
    }
  }

}