@import "./../Utils/config.scss";

.submitButton {

    .buttonRegister {
        background-color: $textColor2;
        color: $secondaryColor;
        transition: transform 80ms ease-in;
        border: 1px solid $secondaryColor;

        &:active {
            transform: scale(0.95);
        }

        &:hover {
            transform: scale(1.05);
            background: $secondaryColor;
            color: $textColor2;
            border: 1px solid $textColor2;
        }
    }
}