@import "../Utils/config.scss";

.navContainer {
  z-index: 10;
  margin: 0 0;
  background-color: #252c33;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1rem 0;

  a {
    text-decoration: none;
    color: $textColor1;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  .logo {
    margin-left: 2rem;
  }

  .logSign-Desktop {
    display: flex;
    align-items: center;
    margin-right: 2rem;

    a {
      margin: 0 0.5rem;
      font-size: clamp(0.8rem, 1vw, 1.2rem);
    }

    button {
      border-radius: 1.2rem;
      background-color: $tertiaryColor;
      transition: 300ms ease-out;

      &:hover {
        background-color: $primaryColor;
        color: $textColor2;
      }
    }

    @media (max-width:900px) {
      display: none;
    }
  }


}


#webapp_cover {
  z-index: 100;

  @media (min-width:900px) {
    display: none;
  }

  transform: scale(1.2);
  margin-right: 2rem;
  border: none;
  background-color: transparent;

  .fas {
    font-size: x-large;
    color: #fff;
  }

}



.menu {
  @media (max-width:900px) {
    display: none;
  }

  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  max-width: 800px;

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
  }

  .active {
    background-color: #fff;
    color: #252c33 !important;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 2px;
      background-color: #252c33 !important;
      transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }

    &:hover {
      &:before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }

  .item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: color .3s ease-out;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: clamp(0.7rem, 0.5vw, 1rem);
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 2px;
      background-color: $secondaryColor;
      transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }

    &:hover {
      &:before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }

  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
  }
}

.MuiDrawer-paper {
  width: 100%;
}

.mobile {
  background-color: rgba(136, 134, 138, 0.1098039216);

  a {
    margin: 1rem auto;

    svg {
      margin-top: 2rem;

      path {
        fill: #000;
      }
    }

  }

  .menu-mobile {
    margin: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    max-width: 800px;

    @media (min-width: 900px) {
      display: none;

    }

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;

    }

    .active {
      background-color: #252c33;
      color: #fff !important;

    }

    .item-mobile {
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: color .3s ease-out;
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      font-size: clamp(0.8rem, 1vw, 1.2rem);

    }

    .indicator-mobile {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 30px;
    }
  }
}

.webapp_cover-mobile {
  position: absolute;
  transform: scale(1.2);
  right: 2rem;
  top: 1rem;

  #menu_button_mobile {
    color: #252c33;
    font-size: x-large;
  }

  #menu_text_bar_mobile {
    background-color: #252c33;
  }
}

.iconsMenu {
  @media (max-width:900px) {
    display: none;
  }
}

.logSign-mobile {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: #252c33;
  }

  button {
    border-radius: 0.4rem;
    background-color: $tertiaryColor;
    transition: 300ms ease-out;

    &:hover {
      background-color: $primaryColor;
      color: $textColor2;
    }
  }
}