@import "../../components/Utils/mixins";

.resource-container {
    padding: 4rem 2rem;

    h1 {
        @include headings(large);
        font-family: "Gotham";
        text-align: left;
    }

    h2 {
        font-weight: 500;
        @include headings(special);

        @media(max-width:768px) {
            margin-top: 2rem;
        }

    }

    hr {
        margin: 0 0 1rem 0;
        color: #252C33;
        opacity: 0.5;
    }

    p {
        color: #252C33;
        font-size: clamp(0.5rem, 1.5vw, 0.8rem);
        font-weight: 500;
    }

    p,
    h6 {
        text-align: left;
    }

    .MuiCard-root {
        max-width: 550px;
    }

    .MuiCardMedia-root {
        height: clamp(250px, 25vh, 400px);
    }

    .weather-panel {
        display: flex;
        margin: 1rem 0;

        h5 {
            font-size: clamp(0.6rem, 2vw, 1rem);
        }

        .MuiCard-root {
            display: flex;
            flex-direction: row;
            max-width: fit-content;
        }

        .MuiCardMedia-root {
            height: auto;
            width: 100%;
        }
    }

    .courses {
        margin: 2rem 4rem;
        text-align: center;
    }

    .headers {
        padding: 0 4rem;
    }

    .courseCards {
        height: 400px;
        overflow-y: hidden;
    }

    button {
        background-color: #FAD5A5;
        color: #252C33;
        margin-top: 1.5rem;

        &:hover {
            background-color: #252C33;
            color: #fff;
        }
    }
}