@import "./../../components/Utils/config.scss";

p {
    font-family: $fontfamily2;
}

a {
    font-family: $fontfamily2;
}

h6 {
    font-family: $fontfamily2;
    text-transform: capitalize;
}

.icons {
    &:hover {
        background: #252c33 !important;
        color: white !important;
        cursor: pointer;

        svg {
            path {
                fill: white
            }
        }
    }
}