.actionButton {
    width: 100%;

    button {
        color: #f8f9fa;
        text-transform: none;
        letter-spacing: 0.15rem;
        transition: all 0.2s ease-in;
        width: 80%;

        &:hover {
            transform: scale(1.1);
            background: transparent;
        }

        svg {
            margin-left: 0.8rem;
        }
    }
}