@import "../Utils/config.scss";
@import "../Utils/mixins";

.hero-Container {

    background: url("../../Assets/LandingPage/landing-PageImage.png") center/cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2rem;

    h3,
    p {
        color: $textColor1;
    }

    p {
        text-align: left;
    }

    h3 {
        @include headings(special);
        color: $textColor1;
        margin: 0 0;
        width: 90%;
        text-align: left;

        @media(min-width:550px) {
            width: 80%;
        }

        @media(min-width:768px) {
            width: 70%;
        }

        @media(min-width:1024px) {
            width: 50%;
            font-size: 1.7rem;
        }
    }

    a {
        text-decoration: none;
    }

    button {
        border-radius: 0.2rem;
        background-color: $tertiaryColor;
        transition: 300ms ease-out;

        &:hover {
            background-color: $primaryColor;
            color: $textColor2;
        }
    }
}