.App {
  position: relative;
  width: 100%;
  background-color: rgba(136, 134, 138, 0.1098039216);
}

html {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: #FAD5A5;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #252C33;
    border-radius: 100px;
    border: 2px solid #FAD5A5;
  }
}