@import "./../../components//Utils/config.scss";

.filepond--root {
    width: 100px;
    height: 100px !important;
    font-size: 0.7rem !important;

    .filepond--panel-root {
        background-color: #d9d8d6;
    }

    @media (min-width:500px) {
        width: 150px;
        height: 150px !important;
        font-size: 1rem !important;
    }

    @media (min-width:768px) {
        width: 200px;
        height: 200px !important;
        font-size: 1.2rem !important;
    }
}

.back {
    background-color: transparent !important;
    border: none;

    .card-settings {
        background-color: transparent !important;
        border: none;
    }

    a {
        color: #FAD5A5;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #FAD5A5 !important;
            color: #000;
            transform: scale(1.05);
            border: 1px solid $textColor2;
        }
    }
}